{% extends 'posts/base.html' %}
{% load static %}

{% block content %}
<section id="work" class="work-area pt-125 pb-130 mt-45">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="section-title pb-25">
                    <h2 class="title">My Recent Works</h2>
                    <h6 class="pb-4">
                        Here are a few projects I've worked recently.
                    </h6>
                    <p>
                        Note: These are not my designs. Just the code.
                    </p>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row">
            {% for project in object_list %}
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-work text-center mt-30">
                    <div class="work-image">
                        <img src="{{ project.thumbnail.url }}" alt="work">
                    </div>
                    <div class="work-overlay">
                        <div class="work-content">
                            <h3 class="work-title">{{ project.title }}</h3>
                            <p class="text-light">{{ project.description }}</p>
                            <ul>
                                <li><a class="image-popup" href="{{ project.thumbnail.url }}"><i
                                            class="lni-plus"></i></a></li>
                                <li><a href="{{ project.website }}" title="Link to Website"><i class="lni-link"></i></a></li>
                                <li><a href="{{ project.repo }}" title="Github Repo"><i class="lni-github-original"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- single work -->
            </div>
            {% empty %}
            <div class="container">
                <h3>No projects yet.</h3>
            </div>
            {% endfor %}
        </div> <!-- row -->
    </div>
</section>
{% endblock %}