{% load static %}
{% load markdown_extras %}

<!doctype html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137873696-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-137873696-1');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Innocent Zenda</title>

    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" type="image/png">

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/LineIcons.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/default.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">


</head>

<body>

    <!-- Preloader -->
    <div class="preloader">
        <div class="loader_34">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader -->

    <!-- Header -->
    <header id="home" class="header-area">
        <div class="navigation fixed-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="/">
                                <img class='logo' src="{% static 'assets/images/logo.png' %}" alt="Logo">
                            </a> <!-- Logo -->
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item active"><a class="page-scroll" href="#home">Home</a></li>
                                    <li class="nav-item"><a class="page-scroll" href="#about">About</a></li>
                                    <li class="nav-item"><a class="page-scroll" href="#service">Services</a></li>
                                    <li class="nav-item"><a class="page-scroll" href="#work">Portfolio</a></li>
                                    <li class="nav-item"><a class="page-scroll" href="#blog">Blog</a></li>
                                    <li class="nav-item"><a class="page-scroll" href="#contact">Contact</a></li>
                                </ul>
                            </div> <!-- navbar collapse -->
                        </nav> <!-- navbar -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- navigation -->

        <div id="parallax" class="header-content d-flex align-items-center">
            <div class="header-shape shape-one layer" data-depth="0.10">
                <img src="{% static 'assets/images/banner/shape/shape-1.png' %}" alt="Shape">
            </div> <!-- header shape -->
            <div class="header-shape shape-tow layer" data-depth="0.30">
                <img src="{% static 'assets/images/banner/shape/shape-2.png' %}" alt="Shape">
            </div> <!-- header shape -->
            <div class="header-shape shape-three layer" data-depth="0.40">
                <img src="{% static 'assets/images/banner/shape/shape-3.png' %}" alt="Shape">
            </div> <!-- header shape -->
            <div class="header-shape shape-fore layer" data-depth="0.60">
                <img src="{% static 'assets/images/banner/shape/shape-2.png' %}" alt="Shape">
            </div> <!-- header shape -->
            <div class="header-shape shape-five layer" data-depth="0.20">
                <img src="{% static 'assets/images/banner/shape/shape-1.png' %}" alt="Shape">
            </div> <!-- header shape -->
            <div class="header-shape shape-six layer" data-depth="0.15">
                <img src="{% static 'assets/images/banner/shape/shape-4.png' %}" alt="Shape">
            </div> <!-- header shape -->
            <div class="header-shape shape-seven layer" data-depth="0.50">
                <img src="{% static 'assets/images/banner/shape/shape-5.png' %}" alt="Shape">
            </div> <!-- header shape -->
            <div class="header-shape shape-eight layer" data-depth="0.40">
                <img src="{% static 'assets/images/banner/shape/shape-3.png' %}" alt="Shape">
            </div> <!-- header shape -->
            <div class="header-shape shape-nine layer" data-depth="0.20">
                <img src="{% static 'assets/images/banner/shape/shape-6.png' %}" alt="Shape">
            </div> <!-- header shape -->
            <div class="header-shape shape-ten layer" data-depth="0.30">
                <img src="{% static 'assets/images/banner/shape/shape-3.png' %}" alt="Shape">
            </div> <!-- header shape -->
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-5 col-lg-6">
                        <div class="header-content-right">
                            <h4 class="sub-title">Hi,</h4>
                            <h1 class="title">I design, build and deploy websites.</h1>
                            <p><b>INNOCENT ZENDA</b> <br> Web Developer</p>
                            <a class="main-btn" href="#work">View my Work</a>
                        </div> <!-- header content right -->
                    </div>
                    <div class="col-lg-6 offset-xl-1">
                        <div class="header-image d-none d-lg-block">
                            <img src="{% static 'assets/images/banner/hero-image.svg' %}" alt="hero">
                        </div> <!-- header image -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
            <div class="header-social">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="header-social-icon">
                                <ul>
                                    <li><a href="https://facebook.com/innocent.s.zenda" target="_blank"><i class="lni-facebook-filled"></i></a></li>
                                    <li><a href="https://twitter.com/ZendaInnocent" target="_blank"><i class="lni-twitter-original"></i></a></li>
                                    <li><a href="www.linkedin.com/in/zendainnocent" target="_blank"><i class="lni-linkedin-original"></i></a></li>
                                    <li><a href="https://github.com/ZendaInnocent" target="_blank"><i class="lni-github-original"></i></a></li>
                                </ul>
                            </div> <!-- header social -->
                        </div>
                    </div> <!-- row -->
                </div> <!-- container -->
            </div> <!-- header social -->
        </div> <!-- header content -->
    </header>
    <!-- Header ends -->



    <!-- About Section -->
    <section id="about" class="about-area pt-125 pb-130">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center">
                        <h2 class="title">About Me</h2>
                        <p class='lead'>
                            #1 choice for techno-phobic business owners with no fear of making
                            money online.
                        </p>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-content mt-50">
                        <h5 class="about-title">Hi There! I'm Innocent Zenda</h5>
                        <p>
                            I don't like to define myself by the work I've done. I define myself by the work I want to do. 
                        </p>
                        <p>
                            I prefer to keep learning, continue challenging myself and do interesting things that matter.
                        </p>
                        <p>
                            I'm passionate and multi-talented spirit with natural ability.
                        </p>
                        <p>
                            Like to code things and enjoy bringing ideas to life in the browser.
                        </p>
                    </div> <!-- about content -->
                </div>
                <div class="col-xl-5 offset-xl-1 col-lg-6">
                    <div class="about-skills pt-25">
                        <div class="skill-item mt-25">
                            <div class="skill-header">
                                <h6 class="skill-title">HTML/CSS/JavaScript</h6>
                                <div class="skill-percentage">
                                    <div class="count-box counted">
                                        <span class="counter">92</span>
                                    </div>
                                    %
                                </div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner">
                                    <div class="bar progress-line" data-width="89"></div>
                                </div>
                            </div>
                        </div> <!-- skill item -->
                        <div class="skill-item mt-25">
                            <div class="skill-header">
                                <h6 class="skill-title">Bootstrap/SaSS</h6>
                                <div class="skill-percentage">
                                    <div class="count-box counted">
                                        <span class="counter">88</span>
                                    </div>
                                    %
                                </div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner">
                                    <div class="bar progress-line" data-width="88"></div>
                                </div>
                            </div>
                        </div> <!-- skill item -->
                        <div class="skill-item mt-25">
                            <div class="skill-header">
                                <h6 class="skill-title">Python/Django</h6>
                                <div class="skill-percentage">
                                    <div class="count-box counted">
                                        <span class="counter">82</span>
                                    </div>
                                    %
                                </div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner">
                                    <div class="bar progress-line" data-width="82"></div>
                                </div>
                            </div>
                        </div> <!-- skill item -->
                    </div> <!-- about skills -->
                    <p class="mt-3 pt-3">
                        Using the stack of technologies above, I design and code beautifully in bringing ideas to life.
                    </p>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!-- About Section ends -->

    <!-- Services Section -->

    <section id="service" class="services-area gray-bg pt-125 pb-130">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center pb-30">
                        <h2 class="title">My Services</h2>
                        <p>
                            Since begining of my journey as Web developer, I'm quitely confidently, naturally curious and perpetual working on improving and providing the following services.
                        </p>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="single-service text-center mt-30">
                        <div class="service-icon">
                            <i class="lni-website"></i>
                        </div>
                        <div class="service-content">
                            <h4 class="service-title"><a href="#services">Web Design</a></h4>
                            <p>
                                Create high quality, fully responsive custom website that work in a wide range of devices.
                            </p>
                        </div>
                    </div> <!-- single service -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="single-service text-center mt-30">
                        <div class="service-icon">
                            <i class="lni-code-alt"></i>
                        </div>
                        <div class="service-content">
                            <h4 class="service-title"><a href="#services">Web Development</a></h4>
                            <p>
                                Production of clean and functional code that is focused in high performance of Website
                            </p>
                        </div>
                    </div> <!-- single service -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="single-service text-center mt-30">
                        <div class="service-icon">
                            <i class="lni-support"></i>
                        </div>
                        <div class="service-content">
                            <h4 class="service-title"><a href="#services">Consultancy and Support</a></h4>
                            <p>
                                Simple content structure, clean design patterns and thoughtful interactions oriented.
                            </p>
                        </div>
                    </div> <!-- single service -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!-- Services Section Ends -->

    <!-- Call To Action Section -->

    <section id="call-to-action" class="call-to-action pt-125 pb-130 bg_cover"
        style="background-image: url({% static 'assets/images/call-to-action.jpg' %})">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-9">
                    <div class="call-action-content text-center">
                        <h2 class="action-title">Have any project on mind?</h2>
                        <p>
                            I'm always open to discusing about work or partnership opportunities. <br> Interested in working together? Let's do it.
                        </p>
                        <ul>
                            <li><a class="main-btn custom-2" href="#contact">hire me</a></li>
                        </ul>
                    </div> <!-- call action content -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!-- Call To Action Section ends -->

    <!-- Recently Works Section -->

    <section id="work" class="work-area pt-125 pb-130">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-title pb-25">
                        <h2 class="title">My Recent Works</h2>
                        <h6 class="pb-4">
                            Here are a few projects I've worked recently.
                        </h6>
                        <p>
                            Note: These are not my designs. Just the code.
                        </p>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row">
                {% for project in featured_projects %}
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-work text-center mt-30">
                        <div class="work-image">
                            <img src="{{ project.thumbnail.url }}" alt="work">
                        </div>
                        <div class="work-overlay">
                            <div class="work-content">
                                <h3 class="work-title">{{ project.title }}</h3>
                                <p class="text-light">{{ project.description }}</p>
                                <ul>
                                    <li><a class="image-popup" href="{{ project.thumbnail.url }}"><i
                                        class="lni-plus"></i></a></li>
                                <li><a href="{{ project.website }}" title="Link to Website"><i class="lni-link"></i></a></li>
                                <li><a href="{{ project.repo }}" title="Github Repo"><i class="lni-github-original"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div> <!-- single work -->
                </div>
                {% empty %}
                <div class="container">
                    <h3>No projects yet.</h3>
                </div>
                {% endfor %}
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="work-more text-center mt-50">
                        <a class="main-btn" href="{% url 'portifolio:project-list' %}">more works</a>
                    </div> <!-- work more -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!-- Recently Works Section ends -->


    <!-- Blog Section -->

    <section id="blog" class="blog-area pt-125 pb-130">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center pb-25">
                        <h2 class="title">From The Blog</h2>
                        <p>
                            Over the years I've been consuming the content created by others in different industries and verticals. Eventually, I decided that it would be a fun challenge to try producing and writing content of my own. Here comes the blog where my contents will be alive.
                        </p>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row justify-content-center">
            
            {% for post in featured_posts %}
            <div class="col-lg-4 col-md-8 col-sm-9 mt-3">
                <div class="card">
                    <a href="{{ post.get_absolute_url }}">
                        {% if post.thumbnail %}
                        <img class="card-img-top" src="{{ post.thumbnail.url }}" alt="Card image cap">
                        {% endif %}
                    </a>
                    <div class="card-body">
                        <a href="{{ post.get_absolute_url }}">
                            <h4 class="card-title">
                                {{ post.title }}
                            </h4>
                        </a>
                        <p class="card-text">
                            {{ post.content | markdown | safe }}
                            <br>
                            {{ post.created_on | date }}
                        </p>
                    </div>
                </div>
            </div>
            {% empty %}
            <h4>No posts yet.</h4>
            {% endfor %}
            
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog-more text-center mt-50">
                        <a class="main-btn" href="{% url 'posts:post-list' %}">More posts</a>
                    </div> <!-- blog more -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!-- Blog Section ends -->

    <!-- Contact Section -->

    <section id="contact" class="contact-area pt-125 pb-130 gray-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center pb-25">
                        <h2 class="title">Get In Touch</h2>
                        <p>
                            Have a project, idea or problem you'd like to discuss?
                        </p>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->

            <div class="row">
                <div class="col-lg-6">
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            <strong>{{ message }}</strong>
                        </div>
                        {% endfor %}
                    {% endif %}
                    <div class="contact-form pt-30">
                        <form id="contact-form" method="POST">
                            {% csrf_token %}
                            <div class="single-form">
                                {{ form.name }}
                            </div> <!-- single form -->
                            <div class="single-form">
                                {{ form.email }}
                            </div> <!-- single form -->
                            <div class="single-form">
                                {{ form.message }}
                            </div> <!-- single form -->
                            <p class="form-message"></p>
                            <div class="single-form">
                                <button class="main-btn" type="submit">Send Message</button>
                            </div> <!-- single form -->
                        </form>
                    </div> <!-- contact form -->
                </div>
                <div class="col-lg-6">
                    <div class="mt-60">
                        <div class="ml-lg-5 text-center">
                            <h3 class="pb-3 text-center">Meet Innocent Zenda</h3>
                            <div class="contact-about">
                                <img src="{% static 'assets/images/about-image.png' %}" alt="Innocent Zenda" class="rounded-circle" style="width: 150px;">
                                <p class="pt-4">
                                    A full stack Web developer, who can provide:
                                    <ul class="text-left col-8 offset-2">
                                        <li>Best Performance</li>
                                        <li>Clean Design Patterns</li>
                                        <li>Simple Content Structure</li>
                                        <li>Responsive Custom Websites</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div> <!-- contact map -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!-- Contact section ends -->

    <!-- Footer -->
    <footer id="footer" class="footer-area">
        <div class="footer-widget pt-130 pb-130">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="footer-content text-center">
                            <a href="/">
                                <img class='logo' src="{% static 'assets/images/logo.png' %}" alt="Logo">
                            </a>
                            <p class="mt-">
                                Helping small businesses and agencies achieve high quality websites and exceptional user experience. A website is designed for the people who will use it, so that is exactly what I do. User focused design is the primary goal.
                            </p>
                            <ul>
                                <li><a href="https://facebook.com/innocent.s.zenda" target="_blank"><i class="lni-facebook-filled"></i></a></li>
                                <li><a href="https://twitter.com/ZendaInnocent" target="_blank"><i class="lni-twitter-original"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/zendainnocent" target="_blank"><i class="lni-linkedin-original"></i></a></li>
                                <li><a href="https://github.com/ZendaInnocent" target="_blank"><i class="lni-github-original"></i></a></li>
                            </ul>
                        </div> <!-- footer content -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- footer widget -->
        <div class="footer-copyright pb-20">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright-text text-center pt-20 ">
                            <p class='text-secondary'>Copyright &copy; 2020.
                                <a class='text-light' href="/" rel="nofollow">Innocent
                                    Zenda
                                </a>
                            </p>
                        </div> <!-- copyright text -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- footer widget -->
    </footer>

    <!-- Footer ends -->

    <!-- Back to top button -->

    <a href="#" class="back-to-top"><i class="lni-chevron-up"></i></a>









    <!--====== jquery js ======-->
    <script src="{% static 'assets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>

    <!--====== Bootstrap js ======-->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>

    <!--====== Magnific Popup js ======-->
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>

    <!--====== Parallax js ======-->
    <script src="{% static 'assets/js/parallax.min.js' %}"></script>

    <!--====== Counter Up js ======-->
    <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>


    <!--====== Appear js ======-->
    <script src="{% static 'assets/js/jquery.appear.min.js' %}"></script>

    <!--====== Scrolling js ======-->
    <script src="{% static 'assets/js/scrolling-nav.js' %}"></script>
    <script src="{% static 'assets/js/jquery.easing.min.js' %}"></script>


    <!--====== Main js ======-->
    <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>