{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <title>Innocent Zenda</title>
    
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" type="image/png">
    
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    
        <link rel="stylesheet" href="{% static 'assets/css/LineIcons.css' %}">
    
        <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    
        <link rel="stylesheet" href="{% static 'assets/css/default.css' %}">
    
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static '/css/styles.css' %}">
        <link rel="stylesheet" href="{% static '/css/codehilite_styles.css' %}">
    
    
    </head>

<body>
    <!-- Header -->
    <header id="home" class="header-area">
        <div class="navigation fixed-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="/">
                                <img class='logo' src="{% static 'assets/images/logo.png' %}" alt="Logo">
                            </a> <!-- Logo -->
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item"><a class="page-scroll" href="/">Home</a></li>
                                    <li class="nav-item {% if request.path == '/portifolio/' %}active{% endif %}"><a class="page-scroll" href="{% url 'portifolio:project-list' %}">Portifolio</a></li>
                                    <li class="nav-item {% if request.path == '/blog/' %}active{% endif %}"><a class="page-scroll" href="{% url 'posts:post-list' %}">Blog</a></li>
                                </ul>
                            </div> <!-- navbar collapse -->
                        </nav> <!-- navbar -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- navigation -->
        </div> <!-- header content -->
    </header>
    <!-- Header ends -->

    
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} article alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}

    
    {% block content %}
        
    {% endblock content %}

    <!-- Footer -->
    <footer id="footer" class="footer-area">
        <div class="footer-widget pt-130 pb-130">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="footer-content text-center">
                            <a href="/">
                                <img class='logo' src="{% static 'assets/images/logo.png' %}" alt="Logo">
                            </a>
                            <p class="mt-">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor inci- didunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrud exe- rcitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                            <ul>
                                <li><a href="https://facebook.com/innocent.s.zenda" target="_blank"><i class="lni-facebook-filled"></i></a></li>
                                <li><a href="https://twitter.com/ZendaInnocent" target="_blank"><i class="lni-twitter-original"></i></a></li>
                                <li><a href="www.linkedin.com/in/zendainnocent" target="_blank"><i class="lni-linkedin-original"></i></a></li>
                                <li><a href="https://github.com/ZendaInnocent" target="_blank"><i class="lni-github-original"></i></a></li>
                            </ul>
                        </div> <!-- footer content -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- footer widget -->
        <div class="footer-copyright pb-20">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright-text text-center pt-20 ">
                            <p class='text-secondary'>Copyright &copy; 2020.
                                <a class='text-light' href="/" rel="nofollow">Innocent
                                    Zenda
                                </a>
                            </p>
                        </div> <!-- copyright text -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- footer widget -->
    </footer>

    <!-- Footer ends -->

    <!-- Back to top button -->

    <a href="#" class="back-to-top"><i class="lni-chevron-up"></i></a>
    
    


    <!--====== jquery js ======-->
    <script src="{% static 'assets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>

    <!--====== Bootstrap js ======-->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>

    <!--====== Magnific Popup js ======-->
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>

    <!--====== Parallax js ======-->
    <script src="{% static 'assets/js/parallax.min.js' %}"></script>

    <!--====== Counter Up js ======-->
    <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>


    <!--====== Appear js ======-->
    <script src="{% static 'assets/js/jquery.appear.min.js' %}"></script>

    <!--====== Scrolling js ======-->
    <script src="{% static 'assets/js/scrolling-nav.js' %}"></script>
    <script src="{% static 'assets/js/jquery.easing.min.js' %}"></script>


    <!--====== Main js ======-->
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>