{% extends 'posts/base.html' %}

{% block title %}
    Delete Post -
{% endblock title %}
    

{% block content %}
<div class="mt-5 pt-5">
    <div class="container my-5">
        <form method="POST">
            {% csrf_token %}
            <p>You want to delete {{ object }}?</p>
            <div class="mt-3">
                <a href="{{ object.get_absolute_url }}" class="btn btn-secondary mr-2">No</a>
                <button class="btn btn-danger">Yes, Delete</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
    